<!-- Navbar -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Ali</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">
        <% if (title === 'Home Page') { %>
          <a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-house"></i>Home</a>
        <% } else { %>
          <a class="nav-link" href="/">
        <% } %>
          <i class="fa-solid fa-house"></i>Home</a>
        </li>

        <li class="nav-item">
        <% if (title === 'About Me') { %>
          <a class="nav-link active" aria-current="page" href="/aboutme"><i class="fa-solid fa-user"></i>About Me</a>
        <% } else { %>
          <a class="nav-link" href="/aboutme">
        <% } %>
          <i class="fa-solid fa-user"></i>About Me</a>
        </li>

        <li class="nav-item">
        <% if (title === 'Projects') { %>
          <a class="nav-link active" aria-current="page" href="/project"><i class="fa-solid fa-folder"></i>Projects</a>
        <% } else { %>
          <a class="nav-link" href="/project">
        <% } %>
          <i class="fa-solid fa-folder"></i>Projects</a>
        </li>

        <li class="nav-item">
        <% if (title === 'Contact Us') { %>
          <a class="nav-link active" aria-current="page" href="/contactus"><i class="fa-solid fa-envelope"></i>Contact Us</a>
        <% } else { %>
          <a class="nav-link" href="/contactus">
        <% } %>
          <i class="fa-solid fa-envelope"></i>Contact Us</a>
        </li>

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>